    body {
    background-color: rgb(0, 0, 0);
    }
    
    p  {
    text-align: center;
    }
    
    h3 {
    color: rgb(255, 255, 255);
    font-size: larger;
    }
     
    h1 {
    text-align: center;
    }
    
    strong {
    color: rgb(255, 255, 255);
    }

    li {
    color: rgb(255, 255, 255);
    }
    
    .principal {
    background-repeat: no-repeat;
    font-size: larger;
    }
    
    .itens {
    font-style: italic;
    }
    
    .beneficios {
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-size: larger;
    }

    h2 {
    font-style: oblique;
    }

    header {
    text-align: center;
    }