    header {
    background: rgb(238, 33, 67);
    }
    
    p  {
    text-align: center;
    }
    
    h3 {
    color: rgb(255, 255, 255);
    font-size: larger;
    }
     
    h1 {
    text-align: center;
    }
    
    strong {
    color: rgb(255, 255, 255);
    }

    li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    }
    
    .principal {
    background-repeat: no-repeat;
    font-size: larger;
    }
    
    .itens {
    font-style: italic;
    }
    
    .beneficios {
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-size: larger;
    }

    h2 {
    font-style: oblique;
    }

    header {
    text-align: center;
    }

    #taverna {
        background-image: 'https://pm1.narvii.com/7894/06208973d20fd5c5a5c0e51f365634bba3922cd0r4-750-375_00.jpg';
    }